#image-container {
    width: fit-content;
    height: fit-content;
    position: relative;
}

#image-container > img {
    width: 1000px;
}

.overlay {
    position: absolute;
    background-color: white;
    color: black;
    z-index: 1000;
}

#overlay-form {
    display: none;
}